<!DOCTYPE html>
<html lang="pl" dir="ltr">
  <%- include('partials/head.ejs') %>
  <body>
    <%- include('partials/jumbotron.ejs') %>
    <main class="container max-width center">
      <div>
        <h2 class="center-align text-gradient">
          404
        </h2>
        <div>
          Wróć do
          <a href="/" title="Powrót do strony głównej">strony głównej</a>.
        </div>
      </div>
    </main>
    <%- include('partials/footer.ejs') %>
  </body>
</html>
