<div class="jumbotron">
  <div class="center-align">
    <h3>URL Shortener</h3>
    <p>
      Masz dość zbyt długich adresów internetowych? Skróć je za pomocą naszej
      strony.
    </p>
  </div>
</div>
